<ibm-header name="[Platform]" [route]="['']">
	<ibm-header-navigation>
		<ibm-header-item [route]="['catalog']">Catalog</ibm-header-item>
		<ibm-header-item [route]="['docs']">Docs</ibm-header-item>
		<ibm-header-item [route]="['support']">Support</ibm-header-item>
		<ibm-header-menu title="Manage">
			<ibm-header-item [route]="['link1']">Link 1</ibm-header-item>
			<ibm-header-item>Link 2</ibm-header-item>
			<ibm-header-item>Link 3</ibm-header-item>
		</ibm-header-menu>
	</ibm-header-navigation>
	<ibm-header-global>
		<ibm-header-action title="action">
			<svg ibmIcon="notification" size="16"></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIcon="user--avatar" size="16"></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIcon="apps" size="16"></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header>
