<ibm-header [route]="['/']" name="Carbon Tutorial">
	<ibm-header-navigation ariaLabel="Carbon Tutorial">
		<ibm-header-item [route]="['/repos']">Repositories</ibm-header-item>
	</ibm-header-navigation>
	<ibm-header-global>
		<ibm-header-action title="action">
			<svg icon ibmIconNotification20></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg icon ibmIconUserAvatar20></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg icon ibmIconAppSwitcher20></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header>
