@import "../assets/scss/scss-utils.scss";

.main {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.wrapper {
	clear: left;
	float: left;
	position: relative;
	left: 50%;
}

.container {
	display: block;
	float: left;
	position: relative;
	right: 50%;
}
