

<main class="main">
	<div class="wrapper">
		<div class="container">
			<h1 style="text-align: center">Congratulations, you made it!</h1>
			<h3 style="text-align: center">You have offically built your first Carbon Angular app :)</h3>

			<div style="max-width: 800px; margin: 50px 0;">
				<p>
					This app is to get you quickly started with our Carbon Angular libraries.
					It currently includes the accordion, button and tab components. Feel free
					to add or remove any components you desire.
					To help you get started we've also set up:
				</p>
				<ul class="bx--list--unordered">
					<li class="bx--list__item">
						Angular-cli
					</li>
					<li class="bx--list__item">
						Build Process
					</li>
					<li class="bx--list__item">
						Code styles and editor configs
					</li>
					<li class="bx--list__item">
						Folder structure
					</li>
					<li class="bx--list__item">
						Lazy loading
					</li>
					<li class="bx--list__item">
						Routing
					</li>
					<li class="bx--list__item">
						Service workers
					</li>
					<li class="bx--list__item">
						Test framework
					</li>
				</ul>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
</main>
