<ng-template #listTpl let-item="item">
  <span *ngIf="item.icon"><cdl-glyphicon icon="{{item.icon}}" size="md"></cdl-glyphicon></span>
  <span class="side-nav-item" [routerLink]="item.link">{{item.content}}</span>
</ng-template>


<cdl-top-nav [brand]="topNavBrand" [badge]="topNavBadge" [sticky]="true" >
  <cdl-hamburger (onClick)="onClick($event)" hamburger></cdl-hamburger>
  <div title>
			<a class="top-nav-heading top-nav-link-item fl" href="#">
				<h1 class="top-nav-brand">
					<strong>{{topNavBrand}}</strong>
				</h1>
			</a>
			<span class="top-nav-link-item top-nav-product-title" href="#">
				{{topNavTitle}}
			</span>
		</div>
</cdl-top-nav>

<cdl-side-nav [open]="sideNavOpen" class="side-nav" [sticky]="true">
  <cdl-side-nav-item routerLink="/home">
			<cdl-glyphicon class="side-nav-glyph" icon="Alert" size="md"></cdl-glyphicon>
			<span class="side-nav-item">Home</span>
  </cdl-side-nav-item>
  <cdl-side-nav-item>
    <cdl-glyphicon class="side-nav-glyph" icon="Alert" size="md"></cdl-glyphicon>
    <span class="side-nav-item">More</span>
    <cdl-side-nav-item>
        <cdl-glyphicon class="side-nav-glyph" icon="Alert" size="md"></cdl-glyphicon>
        <span class="side-nav-item">Content</span>
    </cdl-side-nav-item>
  </cdl-side-nav-item>
  <cdl-side-nav-item>
    <span class="side-nav-item">More...</span>
    <cdl-side-nav-item>
        <span class="side-nav-item">Content...</span>
    </cdl-side-nav-item>
  </cdl-side-nav-item>
</cdl-side-nav>


<main class="main"
  [ngClass]="{'side-nav-open': sideNavOpen}">
  <router-outlet></router-outlet>
</main>

<cdl-modal-placeholder></cdl-modal-placeholder>
