@import "../assets/scss/scss-utils.scss";

.container {
	position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
	min-height: 100%;
	padding: 2rem 5% 0;
}

.demo-content {
	margin-top: 1rem;

	.title {
		font-size: 4rem;
		font-weight: 400;
	}

	.body-text {
		margin-top: 2rem;
		margin-bottom: 4rem;
	}

	.list {
		max-width: 500px;
		padding-left: 50px;
		column-count: 2;

		li {
			font-weight: bold;
		}
	}
}
