<div class="starter-home" cdsGrid>
	<h1 class="title">Congratulations, <br>you made it!</h1>
	<p class="subtitle">You have offically built your first Carbon Angular app</p>
	<div class="body-text" cdsRow>
		<div cdsCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
			<p>
				This is an Angular CLI app configured for use with Carbon.
				It includes the grid, list, tab and tile components. Feel free
				to add or remove any components to fit your use case.
				To help you get started we've also set up:
			</p>
		</div>
		<div cdsCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
			<ul ibmList class="list">
				<li cdsListItem>Angular-cli</li>
				<li cdsListItem>Build Process</li>
				<li cdsListItem>Code styles <br>& editor configs</li>
				<li cdsListItem>Folder structure</li>
				<li cdsListItem>Lazy loading</li>
				<li cdsListItem>Routing</li>
				<li cdsListItem>Service workers</li>
				<li cdsListItem>Test framework</li>
			</ul>
		</div>
	</div>
	<div class="theme-picker">
		<p class="subtitle">To change the theme, select from the radio items below:</p>
		<cds-radio-group legend="Theme selector:" ariaLabel="radiogroup" (change)="onThemeChange($event)">
			<cds-radio value="white" [checked]="true">White</cds-radio>
			<cds-radio value="g10">Grey 10</cds-radio>
			<cds-radio value="g90">Grey 90</cds-radio>
			<cds-radio value="g100">Grey 100</cds-radio>
		</cds-radio-group>
	</div>

	<cds-tabs [isNavigation]="false">
		<cds-tab heading="Carbon components angular">
			<p class="starter-tab-description">
				A component library that gives developers a collection of
				re-usable angular components that they can use for building
				websites and user interfaces
			</p>
			<p>Other useful resources</p><br>
			<div cdsRow>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://github.com/IBM/carbon-components-angular" target="_blank">Repository</cds-clickable-tile>
				</div>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://angular.carbondesignsystem.com/" target="_blank">Component Library</cds-clickable-tile>
				</div>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://angular.carbondesignsystem.com/documentation/" target="_blank">Documentation</cds-clickable-tile>
				</div>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://www.npmjs.com/package/carbon-components-angular" target="_blank">NPM</cds-clickable-tile>
				</div>
			</div>
		</cds-tab>
		<cds-tab heading="Carbon charts">
			<p class="starter-tab-description">
				Carbon Charts is an open-source JavaScript data visualization
				library used as a functional component of IBM's Carbon Design System.
			</p>
			<p>Other useful resources</p><br>
			<div cdsRow>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://github.com/IBM/carbon-charts" target="_blank">Repository</cds-clickable-tile>
				</div>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://carbon-design-system.github.io/carbon-charts/" target="_blank">Demo</cds-clickable-tile>
				</div>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://carbon-design-system.github.io/carbon-charts/documentation/" target="_blank">Documentation</cds-clickable-tile>
				</div>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://www.npmjs.com/package/@carbon/charts" target="_blank">NPM</cds-clickable-tile>
				</div>
			</div>
		</cds-tab>
		<cds-tab heading="Carbon builder">
			<p class="starter-tab-description">
				A visual builder tool for Carbon UI components allowing users to build product
				pages in a fraction of time than it normally takes them.
			</p>
			<p>Other useful resources</p><br>
			<div cdsRow>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://github.com/IBM/carbon-ui-builder" target="_blank">Repository</cds-clickable-tile>
				</div>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://builder.carbondesignsystem.com/" target="_blank">Application</cds-clickable-tile>
				</div>
			</div>
		</cds-tab>
	</cds-tabs>
</div>
