<ibm-header-item [route]="['/repos']">Repositories</ibm-header-item>
<ibm-header name="Carbon Tutorial Angular">
    <ibm-header-navigation ariaLabel="Carbon Tutorial Angular">
      <ibm-header-item href="/repos">Repositories</ibm-header-item>
    </ibm-header-navigation>
    <ibm-header-global>
      <ibm-header-action title="action">
        <svg ibmIcon="notification" size="20"></svg>
      </ibm-header-action>
      <ibm-header-action title="action">
        <svg ibmIcon="user--avatar" size="20"></svg>
      </ibm-header-action>
      <ibm-header-action title="action">
        <svg ibmIcon="app-switcher" size="20"></svg>
      </ibm-header-action>
    </ibm-header-global>
  </ibm-header>