<ibm-tabs>
	<ibm-tab heading="carbon-components-angular">
		<p>Description</p><br>
		<p style="margin-bottom: 2rem;">
			A component library that gives developers a collection of
			re-usable angular components that they can use for building
			websites and user interfaces
		</p>
		<p>Other useful resources</p><br>
		<div ibmGrid>
			<div ibmRow>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://github.com/IBM/carbon-components-angular" target="_blank">Repository</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://angular.carbondesignsystem.com/" target="_blank">Component Library</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://angular.carbondesignsystem.com/documentation/" target="_blank">Documentation</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://www.npmjs.com/package/carbon-components-angular" target="_blank">NPM</ibm-clickable-tile>
				</div>
			</div>
		</div>
	</ibm-tab>
	<ibm-tab heading="carbon-charts">
		<p>Description</p><br>
		<p style="margin-bottom: 2rem;">
			Carbon Charts is an open-source JavaScript data visualization
			library that will be used as a functional component of IBM's Carbon Design System.
		</p>
		<p>Other useful resources</p><br>
		<div ibmGrid>
			<div ibmRow>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://github.com/IBM/carbon-charts" target="_blank">Repository</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://carbon-design-system.github.io/carbon-charts/" target="_blank">Demo</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://carbon-design-system.github.io/carbon-charts/documentation/" target="_blank">Documentation</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://www.npmjs.com/package/@carbon/charts" target="_blank">NPM</ibm-clickable-tile>
				</div>
			</div>
		</div>
	</ibm-tab>
</ibm-tabs>
