
<ibm-tabs>
	<ibm-tab heading="carbon-components-angular">
		<ibm-accordion class="accoridon">
			<ibm-accordion-item title="Description">
				<p>
					A component library that gives developers a collection of
					re-usable angular components that they can use for building
					websites and user interfaces
				</p>
			</ibm-accordion-item>
			<ibm-accordion-item title="Other useful resources">
				<a ibmButton size="sm" href="https://github.com/IBM/carbon-components-angular">Repository</a>
				<a ibmButton size="sm" href="https://angular.carbondesignsystem.com/">Demo</a>
				<a ibmButton size="sm" href="https://angular.carbondesignsystem.com/documentation/">Documentation</a>
				<a ibmButton size="sm" href="https://www.npmjs.com/package/carbon-components-angular">NPM</a>
			</ibm-accordion-item>
		</ibm-accordion>
	</ibm-tab>
	<ibm-tab heading="carbon-charts">
			<ibm-accordion class="accoridon">
					<ibm-accordion-item title="Description">
						<p>
							Carbon Charts is an open-source JavaScript data visualization
							library that will be used as a functional component of IBM's Carbon Design System.
						</p>
					</ibm-accordion-item>
					<ibm-accordion-item title="Other useful resources">
						<a ibmButton size="sm" href="https://github.com/IBM/carbon-charts">Repository</a>
						<a ibmButton size="sm" href="https://carbon-design-system.github.io/carbon-charts/">Demo</a>
						<a ibmButton size="sm" href="https://carbon-design-system.github.io/carbon-charts/documentation/">Documentation</a>
						<a ibmButton size="sm" href="https://www.npmjs.com/package/@carbon/charts">NPM</a>
					</ibm-accordion-item>
				</ibm-accordion>
	</ibm-tab>
</ibm-tabs>
