
<ibm-tabs>
	<ibm-tab heading="carbon-components-angular">
		<ibm-accordion class="accoridon">
			<ibm-accordion-item title="Description">
				<p>
					A component library that gives developers a collection of
					re-usable angular components that they can use for building
					websites and user interfaces
				</p>
			</ibm-accordion-item>
			<ibm-accordion-item title="Other useful resources">
				<a class="button" href="https://github.com/IBM/carbon-components-angular">
					<button ibmButton>Repository</button>
				</a>
				<a class="button" href="https://angular.carbondesignsystem.com/">
					<button ibmButton>Component library</button>
				</a>
				<a class="button" href="https://angular.carbondesignsystem.com/documentation/">
					<button ibmButton>Documentation</button>
				</a>
				<a class="button" href="https://www.npmjs.com/package/carbon-components-angular">
					<button ibmButton>NPM</button>
				</a>
			</ibm-accordion-item>
		</ibm-accordion>
	</ibm-tab>
	<ibm-tab heading="carbon-charts">
			<ibm-accordion class="accoridon">
					<ibm-accordion-item title="Description">
						<p>
							Carbon Charts is an open-source JavaScript data visualization
							library that will be used as a functional component of IBM's Carbon Design System.
						</p>
					</ibm-accordion-item>
					<ibm-accordion-item title="Other useful resources">
						<a class="button" href="https://github.com/IBM/carbon-charts">
							<button ibmButton>Repository</button>
						</a>
						<a class="button" href="https://carbon-design-system.github.io/carbon-charts/">
							<button ibmButton>Demo</button>
						</a>
						<a class="button" href="https://carbon-design-system.github.io/carbon-charts/documentation/">
							<button ibmButton>Documentation</button>
						</a>
						<a class="button" href="https://www.npmjs.com/package/@carbon/charts">
							<button ibmButton>NPM</button>
						</a>
					</ibm-accordion-item>
				</ibm-accordion>
	</ibm-tab>
</ibm-tabs>
