.carbon--theme--g10 {
	$css--body: false;
	@import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
	$carbon--theme: $carbon--theme--g10;

	@import "~carbon-components/scss/globals/scss/styles";

	@include reset;
    @include type-style('body-short-01');
    color: $text-01;
    background-color: $ui-background;
    line-height: 1;

	p {
		@include type-style('expressive-paragraph-01');
		max-width: 800px;
	}

	li {
		@include type-style('body-long-02');
	}
}
