.carbon--theme--g100 {
	$css--body: false;
	@import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
	$carbon--theme: $carbon--theme--g100;

	@import "~carbon-components/scss/globals/scss/styles";
	color: $text-01;
	background-color: $ui-background;

	p {
		@include type-style('expressive-paragraph-01');
		max-width: 800px;
	}

	li {
		@include type-style('body-long-02');
	}
}
